.form-group {
  text-align: center;

  label {
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
    display: block;
  }

  input {
    width: 2.8rem;
    border: none;
    outline: none;
    border-bottom: 1px solid $color-black;
    padding: 0.5rem 1.2rem;
    text-align: center;
    width: 100%;
    font-size: 1.6rem;
  }
}
