@font-face {
  font-family: 'Times New Roman';
  src: '/fonts/times-roman-new.ttf' format('ttf');
}

@font-face {
  font-family: 'GT Super Text Book';
  src: url('/fonts/gt-super-text-book.woff2') format('woff2');
}

@font-face {
  font-family: 'Soehne';
  src: url('/fonts/soehne-web.woff2') format('woff2');
}
