@font-face {
  font-family: 'Times New Roman';
  src: '../../assets/fonts/times-roman-new.ttf';
}

@font-face {
  font-family: 'Arial';
  src: '../../assets/fonts/arial.ttf';
}

@font-face {
  font-family: 'GT Super Text Book';
  src: local('GT Super Text Book') url('../../assets/fonts/gt-super-text-book.woff2') format('woff2');
}
