// COLOR VARIABLES
$color-black: #333;

$color-black-1: #191919;
$color-black-2: #080808;

$color-green-1: #1a8917;
$color-green-2: #0f730c;

// FONT VARIABLES
$sans-serif-font-famiy: 'Soehne', sans-serif;
$serif-font-family: 'Times New Roman', serif;
$serif-font-family-2: 'GT Super Text Book', Georgia, serif;
